In [3]:
from scipy.io import mmread
import pandas as pd
import numpy as np

In [4]:
slides = [f'{slide}/{section}' for slide in ['C.diff', 'H.pylori'] for section in ['A1', 'B1', 'C1', 'D1']]
for slide1, slide2 in zip(slides[:-1], slides[1:]):
    genes1 = pd.read_csv(f'/mnt/data5/output/count/gi-infection/{slide1}/outs/filtered_feature_bc_matrix_lognorm/features.tsv.gz', header=None, sep='\t')[1]
    genes2 = pd.read_csv(f'/mnt/data5/output/count/gi-infection/{slide2}/outs/filtered_feature_bc_matrix_lognorm/features.tsv.gz', header=None, sep='\t')[1]
    assert (genes1 == genes2).all()
genes = genes1
genes.name = None

In [5]:
cdiff = pd.DataFrame(columns=genes)
hpylori = pd.DataFrame(columns=genes)
for slide in slides:
    if slide == 'C.diff/D1':
        continue
    mat = mmread(f'/mnt/data5/output/count/gi-infection/{slide}/outs/filtered_feature_bc_matrix_lognorm/matrix.mtx.gz').T
    if 'C.diff' in slide:
        cdiff = pd.concat([cdiff, pd.DataFrame(mat.toarray(), columns=genes)])
    else:
        hpylori = pd.concat([hpylori, pd.DataFrame(mat.toarray(), columns=genes)])

In [11]:
combined_df = pd.concat([cdiff, hpylori]).mean().sort_values(ascending=False).reset_index()
combined_df.columns = ['gene', 'mean_normalized_expression']
combined_df.to_csv('/mnt/data5/output/explore/combined_mean_lognorm_expression.csv', index=False)

In [12]:
cdiff_df = cdiff.mean().sort_values(ascending=False).reset_index()
cdiff_df.columns = ['gene', 'mean_normalized_expression']
cdiff_df.to_csv('/mnt/data5/output/explore/cdiff_mean_lognorm_expression.csv', index=False)

In [13]:
hpylori_df = hpylori.mean().sort_values(ascending=False).reset_index()
hpylori_df.columns = ['gene', 'mean_normalized_expression']
hpylori_df.to_csv('/mnt/data5/output/explore/hpylori_mean_lognorm_expression.csv', index=False)

In [9]:
np.argwhere(cdiff.mean().sort_values(ascending=False).index == 'EPCAM')

array([[64]])

In [10]:
np.argwhere(hpylori.mean().sort_values(ascending=False).index == 'EPCAM')

array([[231]])

In [14]:
combined_df

          gene  mean_normalized_expression
0         IGKC                    4.463347
1       TMSB4X                    3.981313
2          UBC                    3.907148
3         ACTB                    3.756215
4        IGHA1                    3.669180
...        ...                         ...
17938    PAGE2                    0.000000
17939    OOSP1                    0.000000
17940   BPIFA3                    0.000000
17941  TCP10L2                    0.000000
17942    MUC19                    0.000000

[17943 rows x 2 columns]

In [15]:
cdiff_df

         gene  mean_normalized_expression
0        IGKC                    4.538194
1         FTL                    4.329302
2      TMSB4X                    4.275754
3        ACTB                    4.192342
4         UBC                    4.187976
...       ...                         ...
17938   TCF24                    0.000000
17939  WFDC13                    0.000000
17940    ARSH                    0.000000
17941   MMEL1                    0.000000
17942    LHX8                    0.000000

[17943 rows x 2 columns]

In [16]:
hpylori_df

           gene  mean_normalized_expression
0          IGKC                    4.356195
1          TFF1                    4.316313
2          GKN1                    4.244122
3           LYZ                    4.048595
4         IGHA1                    3.634394
...         ...                         ...
17938     TEX36                    0.000000
17939  KIAA1210                    0.000000
17940  HNRNPCL3                    0.000000
17941     TEX53                    0.000000
17942   TCP10L2                    0.000000

[17943 rows x 2 columns]